.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    h1 {
      color: #ffc800;
      font-size: 70px;
      margin-bottom: 20px;
    }
    button {        
      outline: none;
        -webkit-transition-duration: 0,4s;
        transition-duration: 0.4s;
    }

    button:hover {
        outline: none;
        border: 0;
        background: transparent;
        background-color: #ff8000;
        color: white;
    }
  }